header
{
  width:auto;
  height:100px;
  opacity: 0.7;
  overflow: hidden;
  box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
  border: 10px solid #F0F0FF;
  background-image: url('Images/logo.png');
  background-position: center left;
  background-size: 170px 70px;
  background-repeat: no-repeat;
  background-color: white;

}

#texte
{
  font-size: 38px;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  padding-left: 13%;

}

#imageBienvenue
{
  margin-left: 18%;
  margin-top: 1%;
}

body
{
  background-image: url('Images/imageFond.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.bouton
{
  width: 260px;
  height: 60px;
  background-color: #C9D7F8;
  color: black;
  font-family: sans-serif;
  font-size: 32px;
  border-radius: 15px 15px 18px;
  margin-top: 28%;
  margin-left: 42%;
  padding-left: 2.6%;

}

.bouton:hover
{
  background-color:#DE3C4B;
  color: white;
}
